.background {
    
    background-image: linear-gradient(to right top, #234714, #2f623c, #407e64, #599a8d, #7ab5b3, #82c3be, #8bd1c8, #95dfd2, #97e0b8, #adde96, #d0d675, #f8c961);
}

.name {
    display: flex
}

.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
  }
   
  @media (min-width: 600px) {
    .cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
   
  @media (min-width: 900px) {
    .cards {
      grid-template-columns: repeat(3, 1fr);
    }
  }